body {
  font-family: "Raleway", sans-serif;
  background-color: #caf0f8;
}

.bg-dark-blue {
  background-color: #151766;
}

.bg-blue {
  background-color: #0077b6;
}

.marker-font {
  font-family: "Permanent Marker", cursive;
}

.big-text {
  font-size: 24px;
}

p {
  text-align: justify;
}

.image-top {
  background-size: cover;
}

#Contacto .btn {
  background-color: #00b4d8;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

/* @media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }
} */
